/*Global*/

    * {
    	font-family: 'Alegreya Sans SC', sans-serif;
    	font-weight: 100;
    }
    body {
    	color: #dddddd;
    	font-family: 'Alegreya Sans SC', sans-serif;
    	margin: 0 auto;
    	position: relative;
    	background-color: #0f131c;
    }
    h1 {
    	text-align: center;
    	font-weight: 100;
    }
    p {
    	font-family: 'Alegreya Sans';
    	color: #dddddd;
    	text-align: justify;
    	font-size: 80%;
    }
    #logo a {
    	text-decoration: none;
    	color: #ffffff;
    }
    a:link {
    	text-decoration: none;
    }
    ul {
      padding: 0px;
      list-style-type: none;
    }
    ul li a {text-decoration: none}

/*End Global*/



/*ORGANIZED BY COMPONENT*/



/*Answer and Question*/

    #sidebarElements {
      border: 1px solid #00dcff;
      border-width: 0px 1px;
      padding-left: 10px;
      padding-right: 10px;
    }
    #questionProblem fieldset {
    	border: 1px solid #00dcff;
    }
    #questionProblem legend {
    	padding: 0.2em 0.5em;
    	border: 1px solid #00dcff;
    	font-size: 90%;
    	text-align: justify;
    	color: ;
    }
    #questionUnit {
    	display: -webkit-box;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	flex-direction: row;
    	font-family: 'Alegreya Sans';
    	padding-top: 10px;
    	width: 100%;
    }
    #questionContent {
    	flex: 3 3 auto;
    	font-family: 'Alegreya Sans';
    	border: 1px solid #00ffdc;
    	border-width: 1px 0px 0px 0px;
    	width: 80%;
    	padding: 10px;
    }
    #questionAdder {
      font-size: 90%;
      color: #00ffdc;
    }
    #answerAdder {
      font-size: 90%;
      color: #00dcff;
    }
    #questionAnswers {
      flex: 1 1 auto;
      color: #00dcff;
      background-color: #0f131c;
      border: 1px solid #00dcff;
      border-radius: 2px;
      cursor: pointer;
      height: 100%;
    }
    #questionAnswers:hover {
      color: #0f131c;
      background-color: #00dcff;
      cursor: pointer;
    }
    #questionAnswers:active {
      color: #00ffdc;
      background-color: #0f131c;
    }
    #questionVote {
      flex: 1 1 auto;
      color: #00ffdc;
      background-color: #0f131c;
      border: 1px solid #00ffdc;
      border-radius: 2px;
      cursor: pointer;
    }
    #questionVote:hover {
      color: #0f131c;
      background-color: #00ffdc;
      cursor: pointer;
    }
    #questionVote:active {
      color: #00ffdc;
      background-color: #0f131c;
    }
    #answerProblem fieldset {
      border: 1px solid #00dcff;
    }
    #answerProblem legend {
      padding: 0.2em 0.5em;
      border: 1px solid #00dcff;
      font-size: 90%;
      text-align: justify;
      color: ;
    }
    #answerUnit {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      font-family: 'Alegreya Sans';
      padding-top: 10px;
      width: 100%;
    }
    #answerContent {
    	flex: 3 3 auto;
    	font-family: 'Alegreya Sans';
    	border: 1px solid #00dcff;
    	border-width: 1px 0px 0px 0px;
    	width: 80%;
    	padding: 10px;
    	margin-left: 8%;
    }
    #answerVote {
      flex: 1 1 auto;
      color: #00dcff;
      background-color: #0f131c;
      border: 1px solid #00dcff;
      border-radius: 2px;
      cursor: pointer;
    }
    #answerVote:hover {
      color: #0f131c;
      background-color: #00dcff;
      cursor: pointer;
    }
    #answerVote:active {
      color: #00dcff;
      background-color: #0f131c;
    }

/*End Answer*/



 /*CreateProblem and Create Solution*/

    #createForm {
      background-color: #0f131c;
      color: #00dcff;
      height: auto;
      border: 2px solid #00dcff;
      border-width: 0px 0px 1px 0px;
      border-radius: 3px;
      padding: 5px 5px 5px 5px;
     }
    #problemSummaryForm, #problemDescriptionForm,
    #problemRequirementsForm, #problemReferencesForm,
    #solutionSummaryForm, #solutionReferencesForm {
    	font-family: 'Alegreya Sans';
    	text-align: left;
    	height: 5em;
    }
    #problemTitleFormLabel, #problemFieldFormLabel, #problemSummaryFormLabel,
    #problemDescriptionFormLabel, #problemRequirementsFormLabel,
    #problemReferencesFormLabel, #solutionTitleFormLabel, #problemSummaryFormLabel,
    #solutionDescriptionFormLabel, #solutionEvidenceFormLabel,
    #solutionExperimentsFormLabel, #solutionReferenceFormLabel {
      clear: both;
      color: #00dcff;
    }

    fieldset {
    	border: 1px solid #00dcff;
    }
    input, textarea {
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 100%;
      color: #ffffff;
      background-color: #0f131c;
      text-align: center;
      border: 1px solid #ffffff;
      border-radius: 5px;
      padding: 3px 8px 3px 8px;
      display: block;
      float: left;
      margin-bottom: 10px;
      margin-left: 7%;
      width: 82%;
      resize: none;
    }
    textarea {
    	text-align: left;
    	font-family: 'Alegreya Sans', sans-serif;
    	font-weight: 100;
    	height: 10em;
      margin-left: 7.5%;
    }
    input:focus {
    	border-color: #00dcff;
    }
    textarea:focus {
    	border-color: #00dcff;
    }
    input#submitProblem, input#submitSolution {
    	display: block;
    	color: #00dcff;
    	border: 1px solid #00dcff;
    	background-color: #0f131c;
    	width: 86%;
    	margin-left: 7.5%;
    }
    input#submitProblem:hover, input#submitSolution:hover {
    	color: #0f131c;
    	border: 1px solid #0f131c;
    	background-color: #00dcff;
    	cursor: pointer;
    }
    label {
    	display: block;
    	float: center;
    	font-weight: 100;
    	text-align: center;
    	width: 100%;
    	font-size: 120%;
    }

/*End CreateSolution*/



/*CreatedSolution, FullSolution, and Problem*/

    #solution, #problem {
    	border: 1px solid #00dcff;
    	background-color: #0f131c;
    	position: relative;
    	border-width: 0px 2px;
    	border-radius: 23px;
    	color: #dddddd;
    	padding: 0px 10px 20px 10px;
    	overflow: scroll !important;
    	margin: 5px 5px 10px 5px;
    	flex: 1 1 auto;
    	outline: 1px solid #131b2b;
    	outline-width: 0px 1px;
    	flex-grow: 2;
    	flex-shrink: 1;
    	margin-left: 7px;
    	border-width: 2px 0px;
    	border-radius: 0px;
      float: left;
      width: 60%;
    }
    #fullProblem {
      width: 60%;
      float: left;
    }
    #solutionHeader, #problemHeader {
    	display: -webkit-box;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: inline-flex;
    	justify-content: space-between;
    	align-items: flex-start;
    	align-content: space-between;
    	width: 100%;
    }
    #parentButton {
    	flex: 0 1 auto;
    	margin-right: auto;
    	margin-top: 1px;
    	width: 23%;
    	padding: 4px;
    	color: #00ffdc;
    	font-size: 85%;
    	letter-spacing: 12px;
    	background-color: #0f131c;
    	border: 1px solid #00ffdc;
    	border-width: 0px 1px 1px 0px;
    	text-align: right;
    }
    #parentButton a {
    	width: 100%;
    	padding: 0px;
    	margin: 0px;
    }
    #parentButton:hover {
    	color: #0f131c;
    	background-color: #00ffdc;
    	border-color: #0f131c;
    	cursor: pointer;
    }
    #elementLabel {
    	flex: 0 1 auto;
    	margin: 1px 5% 0% 0%;
    	width: 26%;
    	border: 1px solid #00dcff;
    	border-width: 0px 0px 1px 0px;
    	border-radius: 0px;
    	font-size: 85%;
    	padding: 4px;
    	letter-spacing: 12px;
    	color: #00dcff;
    	text-align: center;
    }
    #solutionIntro, #problemIntro {
    	border: 1px solid #00dcff;
    	border-width: 0px 0px 0px 0px;
    	border-radius: 0px;
    	margin: 0px 40px;
    	padding: 10px 0px;
    }
    #solutionTitle, #problemTitle {
    	border-width: 0px;
      font-size: 260%;
    }
    #solutionSummary, #problemSummary {
      margin: 5px 25px;
    	line-height: 150%;
    	font-size: 120%;
    	border: 1px solid #00dcff;
    	border-width: 1px 0px;
    	padding: 5px;
    	margin-top: 20px;
      padding-top: 15px;
      padding-bottom: 20px;
    }
    #solutionSummaryLabel, #problemSummaryLabel {
    	color: #00dcff;
    }
    #contributor, #createDate {
    	width: 100%;
    	text-align: center;
    }
    #createDate {
    	margin-bottom: 10px;
    }
    #followSolution, #followProblem {
      width: 30%;
    	margin-left: 33.7%;
    	padding-left: 2%;
    	background-color: #0f131c;
    	color: #00dcff;
    	font-family: 'Alegreya Sans SC', sans-serif;
    	font-size: 120%;
    	font-weight: 100;
    	border: 1px solid #00dcff;
    	border-width: 1px 1px;
    	border-radius: 3px;
    	text-align: center;
    	text-decoration: none;
    	margin-bottom: 10px;
    	letter-spacing: 16px;
    }
    #followSolution:hover, #followProblem:hover {
    	background-color: #00dcff;
    	color: #0f131c;
    	cursor: pointer;
    }
    #editSolution {
    	width: 30%;
    	margin-left: 35%;
    	padding-left: 1%;
    	background-color: #0f131c;
    	color: #00dcff;
    	font-family: 'Alegreya Sans SC', sans-serif;
    	font-size: 120%;
    	font-weight: 100;
    	border: 1px solid #00dcff;
    	border-width: 1px 1px;
    	border-radius: 3px;
    	text-align: center;
    	text-decoration: none;
    	margin-bottom: 10px;
    	letter-spacing: 16px;
    }
    #editSolution:hover {
      background-color: #00dcff;
      color: #0f131c;
      cursor: pointer;
    }
    #solutionDescription, #problemDescription {
    	border: 1px solid #00ffdc;
    	border-width: 0px 1px 0px 1px;
    	padding: 0px 5px 10px 5px;
    	margin-bottom: 0px;
    	padding-left: 5%;
    	padding-right: 5%;
    	font-size: 120%;
    	line-height: 150%;
    }
    #solutionDescriptionLabel, #problemDescriptionLabel {
    	color: #00ffdc;
    }
    #solutionEvidence {
    	border: 1px solid #00ffdc;
    	border-width: 0px 1px 0px 1px;
    	padding: 0px 5px 10px 5px;
    	margin-bottom: 0px;
    	padding-left: 5%;
    	padding-right: 5%;
    	font-size: 120%;
    	line-height: 150%;
    }
    #evidenceLabel {
    	color: #00ffdc;
    }
    #solutionFutureExperiments {
    	border: 1px solid #00ffdc;
    	border-width: 0px 1px 0px 1px;
    	padding: 0px 5px 10px 5px;
    	margin-bottom: 0px;
    	padding-left: 5%;
    	padding-right: 5%;
    	font-size: 120%;
    	line-height: 150%;
    }
    #futureExperimentsLabel {
    	color: #00ffdc;
    }
    #solutionReferences {
    	border: 1px solid #00ffdc;
    	border-width: 0px 1px 0px 1px;
    	padding: 0px 5px 10px 5px;
    	margin-bottom: 0px;
    	padding-left: 5%;
    	padding-right: 5%;
    	font-size: 120%;
    	line-height: 150%;
    }
    #solutionReferencesLabel {
      color: #00ffdc;
    }
    #elementLabel {
      flex: 0 1 auto;
      margin: 1px 5% 0% 0%;
      width: 26%;
      border: 1px solid #00dcff;
      border-width: 0px 0px 1px 0px;
      border-radius: 0px;
      font-size: 85%;
      padding: 4px;
      letter-spacing: 12px;
      color: #00dcff;
      text-align: center;
    }
    #problemRequirements {
      border: 1px solid #00ffdc;
      border-width: 0px 1px 0px 1px;
      padding: 0px 5px 10px 5px;
      margin-bottom: 0px;
      padding-left: 5%;
      padding-right: 5%;
      font-size: 120%;
      line-height: 150%;
    }
    #requirementsLabel {
      color: #00ffdc;
    }

/*End CreatedSolution, FullSolution, and Problem*/



/*EditSolution*/

#editForm {
  background-color: #0f131c;
  color: #00dcff;
  width: 50%;
  height: auto;
  border: 2px solid #00dcff;
  border-width: 0px 0px 1px 0px;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
 }

/*End EditSolution*/



/*Header*/

    #header {
      background-color: #0f131c;
    	border: 1px solid #00dcff;
    	border-width: 1px 0px;
    	text-align: center;
    	overflow: hidden;
    	width: 100%;
    	display: -webkit-box;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: inline-flex;
    	flex-direction: row;
    	justify-content: space-between;
    	flex-wrap: nowrap;
    	align-items: strech;
      text-align: center;
    }
    #explore, #logo, #avatarHeader {
      margin: auto;
      display: inline-block;
      overflow: hidden;
    	flex: 1 1 auto;
    	text-align: center;
    }
    #explore {
    	color: #dddddd;
    	letter-spacing: 8px;
      width: 25%;
    }
    #exploreFormHeader{
      overflow: hidden;
      padding: 0px;
      margin: 0px;
      text-align: center;
      color: #dddddd;
      letter-spacing: 8px;
      font-size: 100%;
      padding-top: 10px;
      }
    #exploreInput {
    	color: #dddddd;
    	background-color: #0f131c;
    	border: 1px solid #dddddd;
    	height: 35px;
    	width: 200px;
    	letter-spacing: 6px;
    	font-size: 80%;
    	font-family: 'Raleway', sans-serif;
    	text-align: center;
    }
    #submitExplore {
    	display: none;
    }
    #logo {
    	font-size: 200%;
    	font-weight: 100;
    	letter-spacing: 16px;
    	flex: 1 2 auto;
      width: 50%;
    }
    #avatarHeader {
      width: 25%;
      text-align: center;
    }
    #avatarImage {
    	border: 1px solid #00dcff;
    	border-radius: 50%;
      display: block;
      margin: 0 auto;
    }
    #avatarFullName {
      display: inline-block;
      margin: 0 auto;
      font-size: 200%;
      color: #dddddd;
      float: right;
      padding-left: 10%;
      letter-spacing: 8px;
    }

/*End Header*/



/*Login*/

    #loginContainer {
    	display: -webkit-box;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	overflow: hidden;
    	display: inline-flex;
    	align-items: stretch;
    	flex-direction: row;
    	width: 99%;
    	border: 1px solid #00dcff;
    	border-width: 0px 0px;
    	min-height: 99%;
    }
    #info, #signup, #register {
    	color: #dddddd;
    	padding: 0px 10px 20px 10px;
    	margin: 5px 5px 10px 5px;
    	flex: 1 1 auto;
    	width: 60%;
    }
    #signup, #register {
    	width: 40%;
    }
    #banner {
    	color: #ffffff;
    	width: 100%;
    	letter-spacing: .15em;
    	font-size: 200%;
    	text-align: center;
    	margin-top: 14%;
    	padding: 0px 0px 5px 13px;
    }
    #bannerTitle {
    	font-size: 200%;
    	letter-spacing: 16px;
    	border: 1px solid #00dcff;
    	border-width: 2px 0px;
      text-align: center;
    }
    #bannerSlogan {
      margin-top: 15px;
      letter-spacing: 12px;
    }
    #learnMore {
    	color: #00dcff;
    	padding: -10% 10% 0% 10%;
    	font-size: 120%;
    }
    #introduction {
    	text-align: center;
    	font-size: 100%;
    	line-height: 150%;
    	letter-spacing: 3px;
      color: #dddddd;
      padding-left: 15px;
    }
    #introduction {
    	margin: 0% 10%;
    	border:
    }
    #loginForm, #registerForm {
    	border: 1px solid #00dcff;
    	border-width: 1px 1px 1px 1px;
    	border-radius: 3px;
    	margin: 21% 15% 0% 15%;
    	text-align: center;
      height: 193px;
    }
    #registerForm {
      height: 285px;
    }
    #enter {
    	color: #00dcff;
    	font-size: 200%;
    	border: 1px solid #00dcff;
    	border-width: 0px 0px 1px 0px;
    	margin-bottom: 5px;
    }
    #loginEmail, #registerFullName {
    	margin-top: 15px;
    }
    #loginPassword, #registerPassword {
      margin-bottom: 19px;
    }
    input {
    	font-family: 'Alegreya Sans SC', sans-serif;
    	font-size: 140%;
    	color: #ffffff;
    	text-align: center;
    	background-color: #0f131c;
    	border: 1px solid #00dcff;
    	border-radius: 3px;
    	padding: 3px 0px 3px 0px;
    	display: block;
    	margin-left: 9%;
    	width: 82%;
    }
    #submitLogin, #submitRegister {
    	color: #00dcff;
    	border: 1px solid #00dcff;
    	border-width: 1px 0px 0px 0px;
    	width: 100%;
    	padding: 0px;
    	margin: 0px;
      text-align: center;
    }
    #submitLogin:hover, #submitRegister:hover {
    	color: #0f131c;
    	background-color: #00dcff;
    	border: 1px solid #0f131c;
    	cursor: pointer;
    }
    #registerButton, #loginButton {
      text-align: center;
    	color: #00ffdc;
    	border: 1px solid #00ffdc;
      border-width: 0px 1px 1px 1px;
      border-radius: 3px;
    	margin: 0% 19% 5% 19%;
    	font-size: 120%;
    }

    #registerButton:hover, #loginButton:hover {
    	color: #0f131c;
    	background-color: #00ffdc;
    	cursor: pointer;
    }

/*End Login*/



/*Profile*/

    #profileBox {
    	display: -webkit-box;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	overflow: auto;
    	display: inline-flex;
    	align-items: stretch;
    	flex-direction: row;
    	margin: 5% 15% 0% 15%;
    	border: 1px solid #00dcff;
    }
    #profileLeft, #profileRight {
    	color: #dddddd;
    	padding: 0px 10px 0px 10px;
    	overflow: scroll !important;
    	margin: 5px 5px 10px 5px;
    	flex: 1 1 auto;
    	width: 60%;
    	margin: 0;
    }
    #profileLeft {
    	width: 40%;
    	border: 1px solid #00dcff;
    	border-width: 0px 1px 0px 0px;
    }
    #avatar {
    	padding: 10px;
    	text-align: center;
    	border-radius: 50%;
    	display: block;
    	margin: 0px auto;
    }
    #userName {
    	font-size: 200%;
    	text-align: center;
    	line-height: 100%;
    	margin: 10px;
    	padding: 0px;
    	font-family: 'Alegreya Sans SC', sans-serif;
    }
    #userEmail {
    	font-size: 125%;
    	text-align: center;
    	line-height: 100%;
    	margin: 0px;
    	padding: 10px 0px 5px 0px;
    	font-family: 'Alegreya Sans SC', sans-serif;
    }
    #userOptions {
    }
    #userProblemsSolutionsButton, #notificationsButton,
    #userSettingsButton, #aboutXPButton, #logOutButton {
    	background-color: #0f131c;
    	color: #00dcff;
    	font-family: 'Alegreya Sans SC', sans-serif;
    	font-size: 100%;
    	font-weight: 100;
    	border: 1px solid #00dcff;
    	border-width: 1px 1px;
    	border-radius: 3px;
    	text-align: center;
    	text-decoration: none;
    	margin: 5px 0px;
    	letter-spacing: 1px;
    }
    #userProblemsSolutionsButton:hover, #notificationsButton:hover,
    #userSettingsButton:hover, #aboutXPButton:hover, #logOutButton:hover {
    	background-color: #00dcff;
    	color: #0f131c;
    	cursor: pointer;
    }
    #userProblemsSolutionsButton:active, #notificationsButton:active,
    #userSettingsButton:active, #aboutXPButton:active, #logOutButton:active {
      background-color: #00dcff;
      color: #0f131c;
    }
    #xp {
    	text-align: center;
    }
    #profileSidebarMenu {
    	display: inline-flex;
    	flex-direction: row;
    	width: 100%;
    	border: 1px solid #00dcff;
    	border-width: 1px 1px;
    	border-radius: 3px;
    	margin-bottom: 0px;
    }
    #profileProblemsMenu, #profileSolutionsMenu {
    	flex: 1 1 auto;
    	text-align: center;
    	border: 1px solid #00dcff;
    	border-width: 0px 1px 0px 0px;
    	display: flex;
    	flex-direction: column;
    	justify-conent: center;
    	width: 100%;
    	padding-bottom: 3px;
    }
    #developMenu {
    	border-width: 0px 0px 0px 1px;
    }
    #solveTitle, #developTitle {
    	flex: 1 1 auto;
    	color: #00dcff;
    	border: 1px solid #00dcff;
    	border-width: 0px 0px 1px 0px;
    	font-size: 80%;
    	padding: 3px 5px 3px 10px;
    	margin: 0px 0px;
    	letter-spacing: 4px;
    }
    #followedProblemsButton, #createdProblemsButton, #votedSolutionsButton, #createdSolutionsButton {
    	flex: 1 1 auto;
    	color: #00ffdc;
    	font-size: 90%;
    	border: 1px solid #00ffdc;
    	border-width: 1px 1px;
    	border-radius: 3px;
    	text-align: center;
    	text-decoration: none;
    	margin: 3px 10px 0px 10px;
    }
    #followedProblemsButton:hover, #createdProblemsButton:hover,
    #votedSolutionsButton:hover, #createdSolutionsButton:hover,
    #followedProblemsButton:active, #createdProblemsButton:active,
    #votedSolutionsButton:active, #createdSolutionsButton:active {
    	background-color: #00ffdc;
    	color: #0f131c;
    	cursor: pointer;
    }
    #profileRightElements {
    	margin: 2px 15px 0px 5px;
    	padding: 5px;
    }
    #profileRightUnit {
    	border: 1px solid #00dcff;
    	border-width: 1px 0px 0px 0px;
    	padding: 2px;
    }
    #profileRightUnit:hover {
      color: #ffffff;
      cursor: pointer;
    }
    #profileUnitTitle {
      display: block;
      margin: 0px;
      padding: 2px 5px 2px 5px;
      font-size: 100%;
      color: #00dcff !important;
      line-height: 95%;
      height: auto;
    }
    #unitSummary {
    	font-family: 'Alegreya Sans', sans-serf;
    	padding: 0px 5px 5px 5px;
    	font-size: 80%;
    	margin: 0px;
    	text-align: justify;
    }
    #moreButton {
    	margin: auto;
    	text-align: center;
    	margin-left: 0px;
    	margin-right: 0px;
    	font-size: 100%;
    	padding: 5px 0px 5px 0px;
    	color: #00ffdc;
    	border: 1px solid #00ffdc;
    	border-width: 1px 1px 0px 1px;
    }

/*End Profile*/



/*Question*/

    #sidebarElements {
    	border: 1px solid #00dcff;
    	border-width: 0px 1px;
    	padding-left: 10px;
    	padding-right: 10px;
    }
    #questionProblem fieldset {
    	border: 1px solid #00dcff;
    }
    #questionProblem legend {
    	padding: 0.2em 0.5em;
    	border: 1px solid #00dcff;
    	font-size: 90%;
    	text-align: justify;
    	color: ;
    }
    #questionUnit {
    	display: -webkit-box;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	flex-direction: row;
    	font-family: 'Alegreya Sans';
    	padding-top: 10px;
      width: 100%;
    }
    #questionContent {
    	flex: 3 3 auto;
    	font-family: 'Alegreya Sans';
    	border: 1px solid #00ffdc;
    	border-width: 1px 0px 0px 0px;
    	width: 80%;
    	padding: 10px;
    }
    #questionAdder {
    	font-size: 90%;
    	color: #00ffdc;
    }
    #questionText {
    	font-family: 'Alegreya Sans';
    }
    #questionAnswers {
    	flex: 1 1 auto;
    	color: #00dcff;
    	background-color: #0f131c;
    	border: 1px solid #00dcff;
    	border-radius: 2px;
    	cursor: pointer;
    }
    #questionAnswers:hover {
    	color: #0f131c;
    	background-color: #00dcff;
      cursor: pointer;
    }
    #questionAnswers:active {
    	color: #00ffdc;
    	background-color: #0f131c;
    }
    #moreButton {
    	margin: auto;
    	text-align: center;
    	font-size: 130%;
    	padding: 5px;
    	color: #00ffdc;
    	border: 1px solid #00dcff;
    	border-width: 1px 1px 1px 1px;
    	border-radius: 3px;
    }

/*End Question*/



/*SearchBox*/

    #searchBox {
    	margin: 7% 25% 0% 25%;
    	border: 1px solid #00dcff;
    }
    #exploreForm{
    	overflow: hidden;
    	padding: 15px 0px 0px 0px;
    	margin: 0px;
    	text-align: center;
    	color: #dddddd;
    	letter-spacing: 8px;
    	font-size: 100%;
    	}
    #exploreInput {
    	color: #dddddd;
    	background-color: #0f131c;
    	border: 1px solid #dddddd;
    	height: 35px;
    	width: 80%;
    	letter-spacing: 6px;
    	font-size: 120%;
    	padding: auto;
    	font-family: 'Alegreya Sans', sans-serif;
    	text-align: center;
    }
    #submitExplore {
    	display: none;
    }
    #searchElements {
    	margin: 2px 15px 5px 5px;
    	padding: 5px;
    }
    #searchUnit {
    	border: 1px solid #00dcff;
    	border-width: 1px 0px 0px 0px;
    }
    #searchTitle {
    	padding: 0px 5px 0px 5px;
    	font-size: 115%;
    	color: #00dcff;
    }
    #searchSummary {
    	font-family: 'Alegreya Sans', sans-serf;
    	padding: 0px 5px 5px 5px;
    	font-size: 90%;
    }
    #moreSearchButton {
    	margin: auto;
    	text-align: center;
    	font-size: 150%;
    	padding: 5px;
    	color: #00ffdc;
    	border: 1px solid #00dcff;
    	border-width: 1px 0px 0px 0px;
    }
    #moreSearchButton:hover {
    	color: #0f131c;
    	background-color: #00ffdc;
      cursor: pointer;
    }

/*End SearchBox*/



/*SubProblemUnit and SolutionUnit*/

#subProblemUnit, #solutionUnit {
  padding: 5px;
  padding-left: 0px;
  margin: 2px;
  margin-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: 2px solid #00dcff;
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  padding-left: 3px;
  padding-bottom: 0px;
}
#subProblemUnit:hover, #solutionUnit:hover {
  cursor: pointer;
}
#subProblemUnit:hover #subProblemSummary, #solutionUnit:hover #solutionUnitSummary {
  color: #ffffff;
}
#percent {
  float: left;
  color: #00dcff;
  font-size: 200%;
  padding: 0px 0px 0px 0px;
  margin: 5px 10px 0px 5px;
  height: auto;
  text-align: left;
  color: #00dcff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
#unitTitle {
  display: block;
  margin: 0px;
  padding: 2px 5px 2px 5px;
  font-size: 130%;
  color: #00dcff;
  line-height: 120%;
  height: auto;
}
#subProblemTitle, #solutionUnitTitle {
  dispaly: inline-block;
  text-align: left;
  padding: 0px;
  margin: 0px;
  color: #dddddd;
  margin-bottom: 0px;
  margin-left: 0px;
  letter-spacing: 1px;
}
#subProblemSummary, #solutionUnitSummary {
  color: #dddddd;
  clear: both;
  border: 1px solid #dddddd;
  border-width: 0px 0px 0px 0px;
  text-align: justify;
  padding: 8px 2px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: 'Alegreya Sans';
}

/*End SubProblemUnit*/



/*Suggestions*/

    #sidebarElements {
      border: 1px solid #00dcff;
      border-width: 0px 1px;
      padding-left: 10px;
      padding-right: 10px;
    }
    #suggestionProblem fieldset {
      border: 1px solid #00dcff;
    }
    #suggestionProblem legend {
      padding: 0.2em 0.5em;
      border: 1px solid #00dcff;
      font-size: 90%;
      text-align: justify;
      color: ;
    }
    #suggestionUnit {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      font-family: 'Alegreya Sans';
      padding-top: 10px;
    }
    #suggestionContent {
      flex: 3 3 auto;
      font-family: 'Alegreya Sans';
      border: 1px solid #00ffdc;
      border-width: 1px 0px 0px 0px;
      width: 80%;
      padding: 10px;
    }
    #suggestionAdder {
      font-size: 90%;
      color: #00ffdc;
    }
    #suggestionText {
      font-family: 'Alegreya Sans';
    }
    #suggestionVote {
      flex: 1 1 auto;
      color: #00ffdc;
      background-color: #0f131c;
      border: 1px solid #00ffdc;
      border-radius: 2px;
      cursor: pointer;
    }
    #suggestionVote:hover {
      color: #0f131c;
      background-color: #00ffdc;
      cursor: pointer;
    }
    #suggestionVote:active {
      color: #00ffdc;
      background-color: #0f131c;
    }

/*End Suggestion*/



/*Welcome*/

    #welcomeBox {
    	margin: 7% 20% 0% 20%;
    	border: 1px solid #00dcff;
      border-radius: 3px;
    }
    #welcomePrompt {
    	margin: 15px 0px 10px 0px;
    	font-size: 220%;
    }
    #selectProblemPrompt{
    	padding: 5px 5px 0px 5px;
    	font-size: 130%;
    	border: 1px solid #00dcff;
    	border-width: 1px 0px 0px 0px;
    	text-align: center;
    	color: #00dcff;
    }
    #exploreWelcomeForm{
    	overflow: hidden;
    	padding: 5px 0px 5px 0px;
    	margin: 0px;
    	text-align: center;
    	color: #dddddd;
    	letter-spacing: 8px;
    	font-size: 100%;
    	padding-top: 10px;
    	}
    #exploreInput {
    	color: #dddddd;
    	background-color: #0f131c;
    	border: 1px solid #dddddd;
    	height: 35px;
    	width: 80%;
    	letter-spacing: 6px;
    	font-size: 120%;
    	padding: auto;
    	font-family: 'Alegreya Sans SC', sans-serif;
    	text-align: center;
    }
    #submitExplore {
    	display: none;
    }
    #welcomeUnitsContainer {
    	margin: 2px 15px 5px 5px;
    	padding: 5px;
    }
    #createWelcomeButton {
      background-color: #0f131c;
      color: #00dcff;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 150%;
      font-weight: 100;
      border: 1px solid #00dcff;
      border-width: 1px 0px;
      text-align: center;
      text-decoration: none;
      width: 100%;
      margin: 0px;
      padding: 0px;
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      letter-spacing: 16px;
    }
    #createWelcomeButton:hover {
      background-color: #00dcff;
      color: #0f131c;
      cursor: pointer;
    }
    #createWelcomeButton:active {
      background-color: #00dcff;
      color: #0f131c;
    }
    #welcomeProblemsUnit {
    	border: 1px solid #00dcff;
    	border-width: 1px 0px 0px 0px;
    }
    #welcomeProblemsUnit:hover * {
    	color: #ffffff;
    	cursor: pointer;
    }
    #welcomeProblemsHeader{
    	display: inline-flex;
    	flex-direction: row;
    }
    #welcomeProblemsTag {
    	flex: 1 1 auto;
    	display: inline-block;
    	color: #00ffdc !important;
    	border: 1px solid #00ffdc;
    	border-width: 0px 1px 1px 0px;
    	font-size: 120%;
    	padding: 2px 5px 2px 5px;
    	margin-bottom: 35px;
    }
    #welcomeProblemsTitle {
    	flex: 1 1 auto;
    	padding: 5px 10px 5px 10px;
    	font-size: 150%;
    	color: #dddddd;
    }
    #welcomeProblemsSummary {
    	font-family: 'Alegreya Sans', sans-serf;
    	padding: 0px 5px 5px 5px;
    	font-size: 90%;
    }

/*End Welcome*/



















/*ORGANIZED BY GENERAL LAYOUT*/

/*Layout*/

    #main {
    	display: -webkit-box;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	overflow: auto;
    	display: inline-flex;
    	align-items: stretch;
    	flex-direction: row;
    }
      #problem, #sidebar {
    	border: 1px solid #00dcff;
    	background-color: #0f131c;
    	position: relative;
    }
    #problem, #sidebar {
    	border-width: 0px 2px;
    	border-radius: 23px;
    	color: #dddddd;
    	padding: 0px 10px 20px 10px;
    	overflow: scroll !important;
    	margin: 5px 5px 10px 5px;
    	flex: 1 1 auto;
    	outline: 1px solid #131b2b;
    	outline-width: 0px 1px;
    }
    #sidebar {
    	outline-width: 0px 0px;
    	padding-left: 0px;
    }
    #problem {
    	flex-grow: 2;
    	flex-shrink: 1;
    	margin-left: 7px;
    	border-width: 2px 0px;
    	border-radius: 0px;
    }

/*End Layout*/



/*SideBar*/

    #sidebar {
    	flex-grow: 1;
    	flex-shrink: 1;
    	border-radius: 0px;
    	border-width: 0px 0px;
    }
    #sidebarMenu {
    	display: inline-flex;
    	flex-direction: row;
    	width: 100%;
    	border: 1px solid #00dcff;
    	border-width: 1px 1px 1px 1px;
    	border-radius: 3px;
    	margin-bottom: 10px;
    }
    #solveMenu, #developMenu {
    	flex: 1 1 auto;
    	text-align: center;
    	border: 1px solid #00dcff;
    	border-width: 0px 1px 0px 0px;
    	display: flex;
    	flex-direction: column;
    	justify-conent: center;
    	width: 100%;
    }
    #developMenu {
    	border-width: 0px 0px 0px 1px;
    }
    #solveTitle, #developTitle {
    	flex: 1 1 auto;
    	color: #00dcff;
    	border: 1px solid #00dcff;
    	border-width: 0px 0px 1px 0px;
    	font-size: 80%;
    	padding: 3px 5px 3px 10px;
    	margin: 0px 0px;
    	letter-spacing: 12px;
    }
    #solutionsButton, #subproblemButton,
    #questionsButton, #suggestionsButton {
    	flex: 1 1 auto;
    	color: #00ffdc;
    	font-size: 130%;
    	border: 1px solid #00ffdc;
    	border-width: 1px 1px;
    	border-radius: 3px;
    	text-align: center;
    	text-decoration: none;
    	margin: 6px 20px;
    }
    #solutionsButton:hover, #subproblemButton:hover,
    #questionsButton:hover, #suggestionsButton:hover {
    	background-color: #00ffdc;
    	color: #0f131c;
    	cursor: pointer;
    }
    #createButton {
    	background-color: #0f131c;
    	color: #00dcff;
    	font-family: 'Alegreya Sans SC', sans-serif;
    	font-size: 150%;
    	font-weight: 100;
    	border: 1px solid #00dcff;
    	border-width: 1px 1px 1px 1px;
    	border-radius: 3px;
    	text-align: center;
    	text-decoration: none;
    	width: 100%;
    	margin: 0px;
    	padding: 0px;
    	-webkit-transition-duration: 0s;
    	transition-duration: 0s;
    	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    	letter-spacing: 16px;
    }
    #createButton:hover {
    	background-color: #00dcff;
    	color: #0f131c;
    	cursor: pointer;
    }
    #createButton:active {
      background-color: #00dcff;
      color: #0f131c;
    }
    #sidebarElements {
    	border: 1px solid #00dcff;
    	border-width: 0px 1px;
    	padding-left: 10px;
    	padding-right: 10px;
    }

/*End SideBar*/

/*Forms*/

#questionTextArea, #answerTextArea, #suggestionTextArea {
  text-align: left;
  font-family: 'Alegreya Sans', sans-serif;
  padding: 10px;
  color: #ffffff;
  background-color: #0f131c;
  border: 1px solid #ffffff;
  height: 4em;
  resize: none;
}

#askquestion, #addSuggestion, #addAnswer {
  font-size: 90%;
  color: #00ffdc;
  background-color: #0f131c;
  border: 1px solid #00ffdc;
  border-radius: 2px;
  margin-top: 5px;
}
#addAnswer {
  color: #00dcff;
  border: 1px solid #00dcff;
}
#askquestion:hover, #addAnswer:hover, #addSuggestion:hover, #askquestion:active, #addAnswer:active, #addSuggestion:active  {
  color: #0f131c;
  background-color: #00ffdc;
  cursor: pointer;
}
#addAnswer:hover, #addAnswer:active {
  background-color: #00dcff;
}



/*MoreButton*/

    #moreButton {
    	margin: auto;
    	text-align: center;
    	font-size: 130%;
    	padding: 5px;
    	color: #00ffdc;
    	border: 1px solid #00dcff;
    	border-width: 1px 1px 1px 1px;
    	border-radius: 3px;
    }
    #moreButton:hover {
    	color: #0f131c;
    	background-color: #00ffdc;
      cursor: pointer;
    }
    #welcomeMore {
      margin: auto;
      text-align: center;
      font-size: 120%;
      padding: 5px;
      color: #00ffdc;
      border: 1px solid #00dcff;
      border-width: 1px 0px 0px 0px;
    }
    #welcomeMore:hover {
      color: #0f131c;
      background-color: #00ffdc;
      cursor: pointer;
    }
    #sideBarMore {
      text-align: center;
      font-size: 100%;
      padding: 5px;
      color: #00ffdc;
      border: 1px solid #00dcff;
      border-width: 1px 1px 1px 1px;
      border-radius: 3px;
    }
    #sideBarMore:hover {
      color: #0f131c;
      background-color: #00ffdc;
      cursor: pointer;
    }

/*More Sidebar*/
