body {
/*	background: url("day2.jpg") no-repeat center center fixed;
	background-size: cover;*/
	color: #ff0000;
	font-family: 'Alegreya Sans SC', sans-serif;
	/*border: 1px solid #ff0000;*/
	/*width: 90%;*/
	margin: 0 auto;
	text-align: center;
}

body img {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	opacity: .9;
	margin: 0px;
	padding: 0px;

	z-index: -1;
}